
<body>
    <input
    type="text"
    class="form-control"
    name="searchString"
    placeholder="Type to search..."
    [(ngModel)]="searchString"
  />

<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #e7f18f;
  }
  tr:nth-child(odd) {
    background-color: #a4a894;
  }

</style>
</head>
<body>
<table border="3">
        <tr>
            <th>ORDER ID</th>
            <th>ORDER TIME</th>
            <th>ORDER AMOUNT</th>
            <th>ORDER LOCATON</th>
            <th>ORDER STATUS</th>
            <th>ORDER QUANTITY</th>
            <th>CUSTOMER ID</th>
            <th>FOOD ID</th>
            <th>VENDOR ID</th>
            <th>WALLET TYPE</th>
            <th>ORDER COMMENTS</th>
            

        </tr>
        <tr *ngFor="let u of orders | async | customerFilter :  {ordStatus: searchString}; let i = index">

        
            <td>{{u.ordId}}</td>
            <td>{{u.ordTime}}</td>
            <td>{{u.ordAmount}}</td>
            <td>{{u.ordLocation}}</td>
            <td>{{u.ordStatus}}</td> 
            <td>{{u.qtyOrder}}</td> 
            <td>{{u.cusId}}</td>
            <td>{{u.foodId}}</td>
            <td>{{u.venId}}</td>
            <td>{{u.walType}}</td> 
            <td>{{u.ordComments}}</td> 
        </tr>
    </table>
    </body>
