form {
    padding-top:100px;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}
p {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#9d9d9d;
}