p {
    color: blue;
    font-size: 36pt;
    font-family: Tahoma;
}

div {
    color: cyan;
    font-size: 42pt;
    font-family: Garamond;
}

h3 {
    color: orange;
    background-color: blue;
    font-size: 52pt;
    font-family: Arial;
    font-weight: bold;
}
